* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;

  .appPage {
    display: flex;
    flex-direction: column;
  }
}
a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1280px;
}
