.profile {
  display: flex;

  width: 100%;
 
  margin-top: 60px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width: 40%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 6px;
    .profile_head {
      display: flex;
      h1 {
        font-family: Roboto;
        font-size: 32px;
        font-weight: 700;
        color: rgba(30, 33, 33, 0.788);
        margin-bottom: 20px;
      }
    }
    .profile_body {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      span {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        color: #333;
        margin-top: 20px;
        text-align: center;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      margin-top: 30px;
      button {
        padding: 6px 18px;
        font-size: 24px;
        font-family: Roboto;
        border: 1px solid #000;
        transition: all 0.3s;
        color: #000;
        cursor: pointer;
        background-color: inherit;
        border-radius: 6px;
        &:active {
          color: #fff;
          transform: scale(0.96);
          background-color: #000;
        }
      }
    }
  }
}
